a(href="https://bitbucket.org/efwe/nawski",style="position:absolute;z-index:10000;top:0;right:0;")
  img(src="//bitbucket.org/zgramana/bitbucket-ribbons/raw/988dffc5fbeb/png/bitbucket-ribbon-gray.png")
