extends layout

block content
	div(class="col-md-2")
		a(href="#{prev_date}",class="btn btn-primary btn-lg",type="button") <<
		h1 #{this_date}
		a(href="#{next_date}",class="btn btn-primary btn-lg",type="button") >>
	div(class="col-md-8 center-block")
			each pic in pics
				a(href="#{pic}")
					img(src="tmb_#{pic}", class="img-responsive img-rounded")
				br

	div(class="col-md-2")

	script(src='/scripts/nawski.js')
	script(type='text/javascript').
		var nawski = new Nawski();
